* {
  font-family: 'Inconsolata';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0px none transparent;
}

.input {
  position: fixed;
  bottom: 1ex;
  right: 1ex;
  left: 1ex;
}

.input textarea {
  width: 100%;
  resize: none;
  border-color: black;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.modal {
  position: fixed;
  bottom: 50%;
  right: 10%;
  left: 10%;
  z-index: 100;
  padding: 1em;
  border-style: dashed;
  border-width: thin;
  border-color: black;
}

.modal label {
  text-align: left;
}

.modal input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1;
  line-height: 2em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}