<!DOCTYPE html>
<html ng-app="enhide">
  <head>
    <title>ENHIDE</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='app.css' rel='stylesheet' type='text/css'>
  </head>
  <body ng-cloak ng-controller="MainController as main">
    <div class="modal" ng-show="main.showKeygen">
      Generating 4096-bit PGP keys...
    </div>
    <div class="modal" ng-show="main.showTopic">
      <label for="topic">Enter topics for chat:</label>
      <input type="text" 
             ng-model="main.topicInput" 
             ng-keypress="main.topicChanged($event)" 
             name="topic"/>
    </div>
    <ul>
      <li ng-repeat="o in main.chatService.messages track by o.id"><span ng-bind="o.message"/></li>
    </ul>
    <div class="input">
      <textarea 
                ng-readonly="main.showKeygen || main.showTopic"
                ng-model="main.messageInput" 
                ng-keypress="main.messageChanged($event)" 
                placeholder="Press <Enter> to send. Press <Esc> to leave."></textarea>
    </div>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/es6-promise/promise.js"></script>
    <script src="/bower_components/openpgp/dist/openpgp.js"></script>
    <script src="app.js"></script>
  </body>
</html>